<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: LightSkyBlue;">
  <a class="navbar-brand" href="/welcome">CinemaWorld</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/welcome">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/add">Add Movie</a>
      <a class="nav-item nav-link" href="/share">Share</a>
      <a class="nav-item nav-link" href="/profile">Profile</a>
      <a href="/logout" class="nav-item nav-link navbar-right"><strong>Logout</strong></a>
    </div>
  </div>
</nav>
